swagger: '2.0'
info:
  title: AgentOps ServiceNow Connector
  description: >-
    Custom connector for ServiceNow ticket CRUD operations from AgentOps
    Helpdesk agents. Uses OAuth 2.0 Client Credentials grant with service
    account agentops_servicenow_svc.
  version: '1.0'
host: dev306311.service-now.com
basePath: /api/now
schemes:
  - https
consumes: []
produces: []
paths:
  /table/incident:
    get:
      responses:
        default:
          description: default
          schema:
            type: object
            properties:
              result:
                type: array
                items:
                  type: object
                  properties:
                    number:
                      type: string
                      description: number
                    short_description:
                      type: string
                      description: short_description
                    state:
                      type: string
                      description: state
                    priority:
                      type: string
                      description: priority
                    sys_id:
                      type: string
                      description: sys_id
                description: result
      summary: Get incidents
      description: >-
        Retrieves a list of ServiceNow incidents matching the specified filter.
        Supports query, field selection, and result limiting.
      operationId: GetIncidents
      x-ms-visibility: important
      parameters:
        - name: sysparm_query
          in: query
          required: false
          type: string
        - name: sysparm_limit
          in: query
          required: false
          type: integer
        - name: sysparm_fields
          in: query
          required: false
          type: string
          default: number,short_description,state,priority,sys_id,caller_id,opened_at
          description: >-
            Comma-separated list of fields to return. Defaults to curated
            7-field summary.
          x-ms-summary: Fields to return
        - name: sysparm_display_value
          in: query
          required: false
          type: boolean
          default: true
          description: >-
            Set to true to resolve reference fields (e.g., caller_id) to display
            names instead of sys_ids.
          x-ms-summary: Resolve references
        - name: Accept
          in: header
          required: false
          type: string
    post:
      responses:
        default:
          description: default
          schema:
            type: object
            properties:
              result:
                type: object
                properties:
                  number:
                    type: string
                    description: number
                  short_description:
                    type: string
                    description: short_description
                  state:
                    type: string
                    description: state
                  priority:
                    type: string
                    description: priority
                  sys_id:
                    type: string
                    description: sys_id
                  caller_id:
                    type: string
                    description: caller_id
                  opened_at:
                    type: string
                    description: opened_at
                description: result
      summary: Create incident
      description: Creates a new ServiceNow incident...
      operationId: CreateIncident
      x-ms-visibility: important
      parameters:
        - name: sysparm_fields
          in: query
          required: false
          type: string
          default: number,short_description,state,priority,sys_id,caller_id,opened_at
          description: >-
            Comma-separated list of fields to return. Defaults to curated
            7-field summary.
          x-ms-summary: Fields to return
        - name: sysparm_display_value
          in: query
          required: false
          type: string
          default: '"true"'
          description: >-
            Set to true to resolve reference fields to display names instead of
            sys_ids.
          x-ms-summary: Resolve references
        - name: Accept
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              short_description:
                type: string
                description: Brief one-line summary of the issue
              caller_id:
                type: string
                description: sys_id of the user the ticket is for
              category:
                type: string
                description: >-
                  Top-level classification (e.g., hardware, software, network,
                  inquiry)
              subcategory:
                type: string
                description: Secondary classification within the category
              urgency:
                type: string
                description: >-
                  How quickly the user needs resolution (1=High, 2=Medium,
                  3=Low)
              impact:
                type: string
                description: Scope of business impact (1=High, 2=Medium, 3=Low)
              description:
                type: string
                description: Fuller detail beyond the short_description
              u_agent_name:
                type: string
                description: Name of the AI agent that originated this ticket
              u_origin_query:
                type: string
                description: >-
                  The original user message or system event that produced this
                  ticket
  /table/incident/1c741bd70b2322007518478d83673af3: {}
  /table/incident/{sys_id}:
    get:
      responses:
        default:
          description: default
          schema:
            type: object
            properties:
              result:
                type: object
                properties:
                  number:
                    type: string
                    description: number
                  short_description:
                    type: string
                    description: short_description
                  state:
                    type: string
                    description: state
                  priority:
                    type: string
                    description: priority
                  sys_id:
                    type: string
                    description: sys_id
                  caller_id:
                    type: string
                    description: caller_id
                  opened_at:
                    type: string
                    description: opened_at
                description: result
      summary: Get incident by ID
      description: >-
        Retrieves a single ServiceNow incident by its sys_id. Returns the full
        incident record with optional field filtering.
      operationId: GetIncidentById
      x-ms-visibility: important
      parameters:
        - name: sys_id
          in: path
          required: true
          type: string
        - name: sysparm_fields
          in: query
          required: false
          type: string
          default: number,short_description,state,priority,sys_id,caller_id,opened_at
          description: >-
            Comma-separated list of fields to return. Defaults to curated
            7-field summary.
          x-ms-summary: Fields to return
        - name: sysparm_display_value
          in: query
          required: false
          type: boolean
          default: true
          description: >-
            Set to true to resolve reference fields to display names instead of
            sys_ids.
          x-ms-summary: Resolve references
        - name: Accept
          in: header
          required: false
          type: string
    patch:
      responses:
        default:
          description: default
          schema:
            type: object
            properties:
              result:
                type: object
                properties:
                  number:
                    type: string
                    description: number
                  short_description:
                    type: string
                    description: short_description
                  state:
                    type: string
                    description: state
                  priority:
                    type: string
                    description: priority
                  sys_id:
                    type: string
                    description: sys_id
                  caller_id:
                    type: string
                    description: caller_id
                  opened_at:
                    type: string
                    description: opened_at
                description: result
      summary: Update incident
      description: Update incident
      operationId: UpdateIncident
      x-ms-visibility: important
      parameters:
        - name: sys_id
          in: path
          required: true
          type: string
        - name: sysparm_fields
          in: query
          required: false
          type: string
          default: number,short_description,state,priority,sys_id,caller_id,opened_at
          description: Comma-separated list of fields to return.
          x-ms-summary: Fields to return
          x-ms-visibility: important
        - name: sysparm_display_value
          in: query
          required: false
          type: string
          default: '"true"'
          description: Set to true to resolve reference fields to display names.
          x-ms-summary: Resolve references
          x-ms-visibility: important
        - name: Accept
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              state:
                type: string
                description: >-
                  Numeric state code (1=New, 2=In Progress, 3=On Hold,
                  6=Resolved, 7=Closed, 8=Canceled)
              work_notes:
                type: string
                description: Internal notes visible to IT staff only, not the caller
              comments:
                type: string
                description: User-visible activity log entry, visible to the caller
              short_description:
                type: string
                description: Brief one-line summary of the issue
              description:
                type: string
                description: Fuller detail beyond the short_description
              category:
                type: string
                description: >-
                  Top-level classification (e.g., hardware, software, network,
                  inquiry)
              subcategory:
                type: string
                description: Secondary classification within the category
              urgency:
                type: string
                description: How quickly resolution is needed (1=High, 2=Medium, 3=Low)
              impact:
                type: string
                description: Scope of business impact (1=High, 2=Medium, 3=Low)
              u_agent_name:
                type: string
                description: Name of the AI agent that originated this update
              u_origin_query:
                type: string
                description: >-
                  The original user message or system event that produced this
                  update
definitions: {}
parameters: {}
responses: {}
security:
  - oauth2-auth: []
tags: []
securityDefinitions:
  oauth2-auth:
    type: oauth2
    flow: accessCode
    authorizationUrl: https://dev306311.service-now.com/oauth_auth.do
    tokenUrl: https://dev306311.service-now.com/oauth_token.do
    scopes: {}
